[submodule "python基础教程"]
	path = python基础教程
	url = https://github.com/ruanima/TenTinyPythonProject
[submodule "javaScriptDOM编程艺术"]
	path = javaScriptDOM编程艺术
	url = git@github.com:ruanima/javaScriptAndDOM.git
[submodule "python_for_data_analysis"]
	path = python_for_data_analysis
	url = https://github.com/ruanima/pydata-book.git
